@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.bookingPlaceholder {
  padding: 2rem;
  text-align: center;
}

.bookingTitle {
  font-family: $font-roboto;
  font-size: $font-size-24;
  font-weight: $font-weight-normal;
  color: $gray-700;
  margin-bottom: $spacing-16;
}

.bookingText {
  font-family: $font-roboto;
  font-size: $font-size-16;
  color: $gray-700;
  margin-bottom: $spacing-24;
}

