@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.item {
  display: flex;
  align-items: center;
  gap: $spacing-12;
  margin-bottom: $spacing-12;
  color: $gray-200;
  text-decoration: none;
  transition: color 0.2s ease;
  
  &:hover {
    color: $secondary-color;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  flex-shrink: 0;
  color: currentColor;
}

.text {
  @include body-text($font-size-16, $line-height-normal);
  color: currentColor;
}

